<head><link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" /> </head>
<body>

{% form_start(form) %}
{% form_widget(form) %}
{% form_end(form) %}


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
</body>